h3 {
    text-align: center;
    padding: 50px 0 25px 0;
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.aboutImg {
    width: 350px;
    height: 350px;
    margin-right: 50px;
    border: 20px solid #fff;
    
}

.aboutText {
    position: relative;
    align-self: center;
    width: 60%;
    background-color: #fff;
    padding: 25px;
    border: 4px solid $mainColor;
}

.drawing {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -70px;
    right: -125px;
}