// Social list at the bottom of the page
.bottomNav {
    background-color: $mainColor;
    color: #fff;
    padding: 50px 0;
}

.socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h6 {
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
    }

    .email {
        margin: 50px 0;
        color: #fff;
        display: block;
    }
}

.socialList {
    display: flex;
    justify-content: center;

        i {
            color: #fff;
            padding: 0 40px;
        }
}

.socialList i:hover,
.bottomLinks a:hover {
    color: $accentColor;
}

.socialList a:focus,
.bottomLinks a:focus {
    border: 1px solid $accentColor;
    padding: 10px 0;
}

// Start of the bottom nav with links to sections of the page 
.bottomLinks {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;

    a {
        color: #fff;
    }
}