html {
    font-size: 62.5%;
    font-family: $secondaryFont;
    background-color: $accentColor;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: 85%;
    max-width: 1180px;
    margin: 0 auto;
}

// Font families

h1,
h3,
h4 {
    font-family: $mainFont;
    font-weight: 200;
}

// Font sizing 

h1 {
    font-size: 8rem;
    
}

h2,
h4 {
    font-size: 3rem;
}

i {
    
    font-size: 2.5rem;
}

h3 {
    font-size: 6rem;
}

h5,
h6,
p,
a {
    font-size: 1.8rem;
} 

.socialList p {
    font-size: 2rem;
}

// Font styling

h2,
h5 {
    font-weight: bold;
}

h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.about p {
    line-height: 40px;
}


.projects p {
    line-height: 25px;
}

.skills h5 {
    font-weight: 400;
}


// Colors

header, 
body, 
a {
    color: $mainColor;
}

.hidden {
    display: none;
}