// Larger screen nav
.myLinks {
    display: flex;
}

.firstLinks,
.secondLinks {
    display: flex;
    flex: 1 2 50%;
    padding: 10px;

    a {
        padding: 0 20px;
        letter-spacing: 0.2rem;
    }
}

.firstLinks {
    justify-content: flex-start;
}

.secondLinks {
    justify-content: flex-end;    
}

.myLinks a:hover,
.myLinks a:focus {
    color: $accentColor;
}

// Hamburger Menu

.hamburger,
.close {
    display: none;
}







