h4 {
    padding-bottom: 20px;
}

h5 {
    padding-bottom: 10px;
}

.projectContainer {
    display: flex; 
}

.projectText {
    flex: 1 2 50%;
    padding-top: 70px;
    
}

.project1,
.project3 {
    order: 1;
}

.projects img {
    width: 50%;
}
