.skills {
    padding: 0 0 75px 0;

    h3 {
        padding-bottom: 50px;
    }
    
    img {
        width: 50px;
        height: 50px;
    }

    i {
        font-size: 5rem;
    }
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 2fr));
    grid-gap: 50px;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

}

.skills img,
.skills i {
    margin-bottom: 20px;
    color: $mainColor;
}

.skills h5 {
    text-align: center;
}