// COLOR VARIABLES 

$mainColor: #2E2F40;
$secondaryColor: #FE754D;
$backgroundColor: #FA7268;
$accentColor: #f7f7ff;

// FONT VARIABLES

$mainFont: 'Playfair Display', serif;
$secondaryFont: 'Heebo', sans-serif;