// COLOR VARIABLES 

$mainColor: #2E2F40;
$secondaryColor: #FE754D;
$backgroundColor: #FA7268;
$accentColor: #f7f7ff;

// FONT VARIABLES

$mainFont: 'Work Sans', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;