a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7ff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 85%;
  max-width: 1180px;
  margin: 0 auto;
}

h1,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 8rem;
}

h2,
h4 {
  font-size: 3rem;
}

i {
  font-size: 2.5rem;
}

h3 {
  font-size: 6rem;
}

h5,
h6,
p,
a {
  font-size: 1.8rem;
}

.socialList p {
  font-size: 2rem;
}

h2,
h5 {
  font-weight: bold;
}

h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.about p {
  line-height: 40px;
}

.projects p {
  line-height: 25px;
}

.skills h5 {
  font-weight: 400;
}

header,
body,
a {
  color: #2E2F40;
}

header {
  background-image: url("../assets/poppies.jpg");
  background-position: 70% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  border-bottom: 1px solid #2E2F40;
}

h1 {
  padding-bottom: 20px;
}

.headingText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 50px;
}

.myLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstLinks,
.secondLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 50%;
          flex: 1 2 50%;
  padding: 10px;
}

.firstLinks a,
.secondLinks a {
  padding: 0 20px;
  letter-spacing: 0.2rem;
}

.firstLinks {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.secondLinks {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.myLinks a:hover,
.myLinks a:focus {
  color: #FA7268;
}

.hamburger,
.close {
  display: none;
}

h3 {
  text-align: center;
  padding: 50px 0 25px 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutImg {
  width: 350px;
  height: 350px;
  margin-right: 50px;
  border: 20px solid #fff;
}

.aboutText {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60%;
  background-color: #fff;
  padding: 25px;
  border: 4px solid #2E2F40;
}

.drawing {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -70px;
  right: -125px;
}

h4 {
  padding-bottom: 40px;
}

h5 {
  padding-bottom: 10px;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectText {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 50%;
          flex: 1 2 50%;
  padding-top: 100px;
}

.project1,
.project3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.projects img {
  width: 60%;
}

.projects p {
  margin-bottom: 30px;
}

.projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectLinks a {
  border: 1px solid #2E2F40;
  border-radius: 5px;
  width: 150px;
  background-color: #2E2F40;
  color: #fff;
  padding: 12px 10px;
  text-align: center;
  margin-right: 10px;
}

.projectLinks a:hover,
.projectLinks a:focus {
  border: 1px solid #2E2F40;
  background-color: #FA7268;
  color: #2E2F40;
}

.skills {
  padding: 0 0 75px 0;
}

.skills h3 {
  padding-bottom: 50px;
}

.skills img {
  width: 50px;
  height: 50px;
}

.skills i {
  font-size: 5rem;
}

.skills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 50px;
}

.skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills img,
.skills i,
.skills h5 {
  margin-bottom: 20px;
  color: #2E2F40;
  text-align: center;
}

.socialNav {
  background-color: #2E2F40;
  color: #fff;
  padding: 50px 0;
}

.socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialContainer h6 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.socialContainer .email {
  padding: 20px 0;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialList i {
  padding: 0 40px;
  color: #fff;
}

.socialList p {
  padding: 10px 20px 0 0;
}

.socialList i:hover,
.socialList i:focus,
.socialList p:hover,
.socialList p:focus {
  color: #FA7268;
}

footer {
  padding: 10px 0;
  text-align: center;
  background-color: #2E2F40;
  color: #fff;
}

@media (max-width: 1280px) {
  .aboutText {
    width: 55%;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 7rem;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutImg {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .aboutText {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .drawing {
    width: 220px;
    height: 220px;
    top: -80px;
    right: -100px;
  }
  .projects h3 {
    padding-bottom: 0;
  }
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectContainer h4 {
    text-align: center;
  }
  .project2,
  .project4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    width: 80%;
  }
  .projectText {
    padding-top: 25px;
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .fixed {
    position: fixed;
    left: 3%;
    top: 3%;
    z-index: 100;
    background: none;
  }
  .menuHide {
    display: none;
  }
  .show {
    display: block;
  }
  .hidden {
    display: none;
  }
  .close,
  .hamburger {
    width: 25px;
  }
  .firstLinks,
  .secondLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .myLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #f7f7ff;
    opacity: 0.8;
  }
  .myLinks li {
    border-bottom: 1px solid #2E2F40;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .myLinks a {
    display: block;
    padding: 20px 10px 12px 30px;
    color: #2E2F40;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .secondLinks li:last-child {
    border-bottom: none;
  }
  .fistLinks {
    padding-bottom: 0;
  }
  .drawing {
    width: 220px;
    height: 220px;
    top: -80px;
    right: -110px;
  }
}

@media (max-width: 750px) {
  .drawing {
    width: 200px;
    height: 200px;
    top: -90px;
    right: -90px;
  }
  .projectContainer h4 {
    padding-bottom: 25px;
  }
  .projectContainer h5 {
    text-align: center;
  }
  .skills ul {
    grid-gap: 30px;
  }
}

@media (max-width: 600px) {
  .headingText {
    text-align: center;
  }
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 4rem;
  }
  .about p {
    line-height: 30px;
  }
  .skills ul {
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .skills h3 {
    padding-bottom: 25px;
  }
  .skills img {
    width: 30px;
    height: 30px;
  }
  .skills i {
    font-size: 3rem;
  }
  .skills h5 {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  header {
    height: 70vh;
  }
  .headingText {
    padding-top: 70px;
  }
  .aboutImg {
    width: 250px;
    height: 250px;
  }
  .aboutText {
    padding: 15px;
    width: 90%;
  }
  .about p {
    font-size: 1.6rem;
  }
  .drawing {
    width: 120px;
    top: -120px;
    right: 5px;
  }
  .projects img {
    width: 80%;
  }
  .projectText p {
    margin-bottom: 10px;
  }
  .projectLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectLinks a {
    margin: 10px 0 0 0;
  }
  .skills {
    padding: 0 0 25px 0;
  }
  .skills ul {
    grid-gap: 10px;
  }
  .socialNav {
    padding: 25px 0 15px 0;
  }
  .socialList i {
    padding: 0 10px;
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .headingText {
    padding-top: 125px;
  }
  .drawing {
    right: -40px;
  }
  .projectText p {
    font-size: 1.6rem;
  }
}
