a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7ff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 85%;
  max-width: 1180px;
  margin: 0 auto;
}

h1 {
  font-size: 8rem;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

i {
  font-size: 2.5rem;
}

h3 {
  font-size: 6rem;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
}

h5,
h6 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

p,
a {
  font-size: 1.8rem;
}

.socialList p {
  font-size: 2rem;
}

.about p {
  line-height: 40px;
}

h1,
h3 {
  font-family: "Work Sans", sans-serif;
}

.projects p {
  line-height: 25px;
}

header,
body,
a {
  color: #2E2F40;
}

header {
  background-image: url("../assets/poppies.jpg");
  background-position: 70% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  border-bottom: 1px solid #2E2F40;
}

h1 {
  padding-bottom: 20px;
}

.headingText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 25px;
}

.hamburgerNav img {
  width: 30px;
  height: 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menuToggle {
  display: inline-block;
  padding: 5px;
}

.mainMenu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 40%;
  overflow-x: scroll;
  overflow-y: visible;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  transition: left 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  z-index: 999;
}

.mainMenu ul {
  padding: 5px 0 0;
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: -8px 0 8px rgba(0, 0, 0, 0.4);
  min-height: 100%;
  width: 200px;
  background: #F7F7FF;
}

.myLinks a {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #2E2F40;
}

.myLinks a:first-child {
  padding-top: 45px;
}

.myLinks a:hover,
.myLinks a:focus {
  background: #FA7268;
}

.mainMenu .menuClose {
  position: absolute;
  right: 0;
  top: 0;
}

.hamburgerNav {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainMenu:target,
.mainMenu[aria-expanded="true"] {
  display: block;
  left: 0;
  top: 0;
  outline: none;
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

.mainMenu:target ul,
.mainMenu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.mainMenu:target + .backdrop,
.mainMenu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #fff;
  background: rgba(0, 0, 0, 0.1);
  cursor: default;
}

@supports (position: fixed) {
  .mainMenu,
  .mainMenu:target + .backdrop,
  .mainMenu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

h3 {
  padding: 50px 0 25px 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about img {
  width: 350px;
  height: 350px;
  margin-left: 30px;
}

.about p {
  background-color: #fff;
  padding: 25px;
  width: 700px;
  border: 4px solid #2E2F40;
}

h4 {
  padding-bottom: 20px;
}

h5 {
  padding-bottom: 10px;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectText {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 50%;
          flex: 1 2 50%;
  padding-top: 70px;
}

.project1,
.project3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.projects img {
  width: 50%;
}

.skills {
  padding: 0 0 75px 0;
}

.skills h3 {
  padding-bottom: 50px;
}

.skills img {
  max-width: 40px;
  height: 40px;
}

.skills i {
  font-size: 4rem;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialNav {
  background-color: #2E2F40;
  color: #fff;
  padding: 50px 0;
}

.socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialContainer h6 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.socialContainer .email {
  padding: 20px 0;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialList i {
  padding: 0 40px;
  color: #fff;
}

.socialList p {
  padding: 10px 20px 0 0;
}

.socialList i:hover,
.socialList i:focus,
.socialList p:hover,
.socialList p:focus {
  color: #FA7268;
}

footer {
  padding: 10px 0;
  text-align: center;
  background-color: #2E2F40;
  color: #fff;
}
